#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
    margin-top: 20px;
}

#title-port{
    font-family: 'Cookie', cursive;
    font-size: 60px;
    color: #343a40;
}

#div-port{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#img-port{
    width: 100px;
    margin: 50px;
    margin-bottom: 10px;
}

#div-port p{
    color: #343a40;
    text-align: center;
}

#projs{
    display: flex;
    align-items: center;
    justify-content: center;  
}