#blog{
    background-image: url(../../images/nebula.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

#div-blog{
    background-image: linear-gradient(rgba(81, 156, 241, 0.4), rgba(227, 126, 240, 0.4));
    height: 600px;

}

#title-blog{
    font-family: 'Cookie', cursive;
    font-size: 60px;
    color: white;
    justify-content: center;
}

#div-blog{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards{
    width: 70%;
    border-bottom: 50px;
}

p.card-text, .card-title{
    color: black;
}


a:hover {
    color: black;
    text-decoration: none;
}

.img-card{
    filter: grayscale(100);
    transition: 0.5s;   
}

.img-card:hover{
    filter: grayscale(0);
}