#bio{
    background-color: #343a40;
    padding: 50px;
}

#title-bio{
    font-family: 'Cookie', cursive;
    font-size: 60px;
    color: white;
}

#bio p{
    margin:0px;
}

#div-bio{
    display: flex;
    align-items: center;
    filter: grayscale(100);
}

#img-eu{
    width: 400px;
    height: 400px;
    margin: 20px;
}